
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Montserrat:wght@200;400;500;600&family=Poppins:wght@100;200;400;600&family=Readex+Pro:wght@200;400;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&family=Tajawal:wght@200;400;500;700&display=swap');

$bodyBg: #000000;
$heroSecColor : #131111;
$cartBgColor : #18181A;
$mainColor : #DEC700;
$textColor : #ffffff;
$secondColor:#a4a4a4;
$mainFont : 'Roboto', sans-serif;
$specialFont : 'Sacramento', sans-serif ;
$prefixes-list: (webkit , moz , o);

